
body {
  font-family: "Raleway",sans-serif;
}

/* .SKETCHI {
  font-Family: fantasy;
  color: green;
  text-align: center;
  font-size: 50px
} */

.logo{
  font-family: 'Caveat', cursive;
  font-size: 20px
  /* text-align: center;
  justify-content: center;
  align-items: center; */

}

.word {
  color: white;
}

.navbar {
  background-color: black;
}

/* messing with buttons for a sec bro */
.startButton {
  background: green;
  color: #fff;
  font: "Raleway",sans-serif;
  font-size: 50px;
  border-radius: 15px;
  width: 80%;
}

.toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.undo {
 background: red;
  color: #fff;
  font: "Raleway",sans-serif;
  font-size: 25px;
  border-radius: 15px;
  width: 15%;
}

.easel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* scoreboard stuff */

#scoreboard {
  height: 200px;
  width: 300px;
  /* max-width: 600px; */
  background-color: #64DFDF;
  margin: 10px auto;
  font-family: "Raleway",sans-serif;
  border: 1px solid #3f51b5;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}

#scorewindow {
  height: 100px;
  overflow: auto;
  background-color: #A2AEBB;
}

/* this is the chat box stuff */
.handleColor {
  color: #6930C3;
  font-weight: bold;
  padding: 5px;
}

.handleColor-rec {
  color: #5E60CE;
  font-weight: bold;
  padding: 5px;
}

h2 {
  font-size: 18px;
  padding: 10px 20px;
  color: #3f51b5;
}

.points-word {
  color: #56cfe1;
}

@media (max-width: 600px) {
html, body {margin: 0; height: 100%; overflow: hidden}
}


a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

body {
  font-family: "Raleway",sans-serif;
  /* font-family: 'Caveat', cursive; */
  background-image: url(/64DFDF.png)
  /* background-color: #A0E7E5; */

}




#chat-box {
  width: 300px;
  margin: 10px auto;
  border: 2px solid #3f51b5;
  background-color: #64DFDF;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
  border-radius: 15px 15px 0px 0px;
  font-family: 'Raleway', 'sans-serif';
  font-weight: bolder;
}

#chat-window {
  height: 150px;
  overflow: auto;
  font-weight: bolder;
  background-color:  #A2AEBB;
}

#output p {
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#feedback p {
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong {
  color: green;
}

label {
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

#range{
  padding: 0 0 0 0
}

input {
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: flex;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: "Raleway",sans-serif;
  font-size: 16px;
}

#send {
  background: #6930C3;
  color: #fff;
  font-size: 18px;
  font-family: 'Raleways', 'sans-serif';
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 0px 0px;
}

/* for whiteboard */
* {
  box-sizing: border-box;
}

.whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border: solid #5b6dcd 10px;
}

/* Konva Board */
/* .konvajs-content {
  margin-top: 4em;
  margin-bottom: 4em;
  border-radius: 15;
} */
canvas {
  border-radius: 15;
}

.HotPink{
  background-color: #FFAEBC;
}
.TiffanyBlue{
  background-color: #A0E7E5;
}
.Mint{
  background-color: #B4F8C8;
}
.Yellow {
  background-color: #FBE7C6;
}

.drawTools{
  display: inline-flex;
}

.strokeScale{
  width: 200px;
  /* position:absolute; */
  /* left: 300px; */
}


.colors {
  position: fixed;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black {
  background-color: black;
}
.color.red {
  background-color: red;
}
.color.green {
  background-color: green;
}
.color.blue {
  background-color: blue;
}
.color.yellow {
  background-color: yellow;
}

/* game */
.drawinggame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #48BFE3;
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  font-family: "Raleway",sans-serif;
  font-weight: bolder;
}

.gameInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: #4EA8DE; */
  margin: 10px;
  /* padding: 20px; */
  border-radius: 15px;
  font-family: "Raleway",sans-serif;
  font-weight: bolder;
  background: linear-gradient(270deg, #80ffdb, #72efdd, #64dfdf, #56cfe1, #48bfe3, #4ea8de, #5390d9, #5e60ce, #6930c3, #7400b8);
  background-size: 2000% 2000%;
  animation: AnimationName 30s ease infinite;
}
.chatlayout {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: #23B5D3; */
  padding: 20px;
  /* border: black solid 2px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #5E60CE;
  margin: 10px;
  border-radius: 15px;
  font-family: "Raleway",sans-serif;
  font-weight: bolder;
}

.board {
  /* height: 100%; */
  padding: 10px;
  display: flex;
  flex-direction: column  ;
  justify-content: center;
  align-items: center;
  background-color: #7400B8;
  margin: 10px;
  border-radius: 15px;
}

.scoreChat {
  display: flex;
  flex-direction: column  ;
  justify-content: center;
  align-items: center;
  background-color: #7400B8;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}


.allthingscenter{
  display: flex;
  flex-direction: column  ;
  justify-content: center;
  align-items: center;
  background-color: #48BFE3;
  margin: 10px;
  border-radius: 15px;
  /* width: 500px; */
}
/* fonts */
.Raleway{
font-family: "Raleway",sans-serif;
font-size: 25px;
/* padding: 50px; */
margin: 10px;
}
.disclaimer{
  font-family: "Raleway",sans-serif;
  font-size: 10px
}

.buttonMargin{
  margin: 20px;
}

.homepagemainDiv{
  display: flex;
  flex-direction: column  ;
  justify-content: center;
  align-items: center;
}

.spacing {
padding-left: 30px;
padding-right: 30px;
}

/* .backgroundgradiant {
background: linear-gradient(270deg, #80ffdb, #72efdd, #64dfdf, #56cfe1, #48bfe3, #4ea8de, #5390d9, #5e60ce, #6930c3, #7400b8);
background-size: 2000% 2000%;
animation: AnimationName 30s ease infinite;
} */

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.col {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: #48BFE3;
margin: 50px;
padding: 25px;
border-radius: 15px;
}
